@import "~bootstrap/scss/bootstrap";

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    margin: 0;
}
div{
    display: block;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
 
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
#headerNav{
    font-size: 1.5rem;
    font-weight: 200;
    padding:1.5rem;
}
.navbar.scrolled{
    background-color:rgba(0,0,0,0.8);
    color: white;
    transition: background-color 500ms;
}

#headerNav .nav-brand{
    font-family: 'Wendy One', sans-serif;
    color: white;
    margin-left: 0.3rem;
    font-size: 2.0rem;
}

button{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
    min-width: 150px; 
    position: relative;
    margin:15px;
    padding:15px 30px; 
    cursor: pointer;
}
.container-fluid{
    padding-left: 0px;
    padding-right:0px;
}
section h1,h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #621e81;
}

.welcome-section{
    width:100%;
    height: auto; 
    min-height: 40%;
    background-image: url('../../assets/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;   
}

.welcome-section .container{
    margin:0 auto;
    padding:13%;
    position: relative;
}

.hero .welcome-title{
    font-family: 'Londrina Outline', cursive;
    font-size: 200%;
    color: white;
    font-size: 3.5em;
}

.hero h3{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 150%;
    color: white;
}

.animated{
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.welcome-btn{
    border: 2px solid #AB72C0;
    background-color: #AB72C0;
}
.section-btn{
    border: 2px solid #f96d15;
    background-color: #f96d15;
}

.section-2 .container{
    padding: 10% 10%;
}
.section-2 img{
    width:100%;
    height: auto;
}

.section-3{
    width:100%;
    height: auto;
    min-height: 40%;
    background: url('../../assets/banner-1.jpg') no-repeat center / cover;
}

.section-3 .container{
    padding: 40% 20%;
}

.section-4 .container{
    padding: 25% 10%;
}

.icons-container{
    background: #f7f7f7;
    padding: 10% 10%;
}

.icon{
    width: 150px;
    height: 150px;
    border: 1px solid #AB72C0;
    border-radius: 50%;
    text-align: center;
    margin: 25px auto;
    position: relative;
}
.icon img{
    width: 70%;
    height: 70%;
    margin: 15px auto;
}

.icon-title{
    margin-top:20px;
    text-transform: uppercase;
}

.section-5{
    width:100%;
    height: auto;
    min-height: 40%;
    background: url('../../assets/banner-2.jpg') no-repeat center / cover;
}

.section-5 .container{
    padding: 20% 20%;
}

.section-6 .container{
    padding:20% 10%;
}

.fa-star{
    margin: 0px 8px;
    color: #f96d15;
}
.section-6 .col-md-6:nth-child(2){
    background: #f7f7f7;
    padding-top:3%;
}

#carouselContents{
    width: 100%;
    padding:50px;
    line-height: 1.5;
}
#carouselContents a{
    font-size: 1.5rem;
    color: black;
}

.carousel-indicators{
   margin: 0px auto;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:#f7b71d;
}

footer{
    background-color: #f7f7f7;
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img{
    width: 50px;
    height: 50px;
    margin:5px 15px;
}

.back-to-top{
    position: fixed;
    right: 100px;
    bottom: 100px;
    display: none;
    cursor: pointer;
}